anyio
argon2-cffi
argon2-cffi-bindings
cffi
colorama
cryptography
fastapi
msgpack
nest-asyncio
psycopg2
pydantic
pydantic_core
pyotp
PyQt6
PyQt6-Qt6
PyQt6_sip
PySide6
PySide6_Addons
PySide6_Essentials
python-dotenv
python-jose
PyYAML
requests
SQLAlchemy
sqlmodel
tabulate
typing_extensions
urllib3
uvicorn